* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #7b7f88;
    font-family: 'Roboto', sans-serif;
}

.container {
    background-color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.containerPrincipal {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    /* background-color: #2e4052; */
    background-color: #35383f;
    border-radius: 20px;
    padding: 40px;
}

.container0 {
    border: 10px solid white;
    border-radius: 20px;
    padding: 30px;  
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

   
@keyframes colores { /*colores = "nombre de la animación*/
    /*from{background: #FFBE0B;}*/ /*iniciará de este color...*/
    /*to{background: #3A86FF;}*/ /*... a este otro color*/

    0%{background: #FF1B1C;} /*De esta manera lo hace por porcentajes...*/
    25%{background: #F0C808;}
    50%{background: #E365C1;}
    75%{background: #00BFB2;}
    100%{background: #FF1B1C;}
}

.container1 {
    width: 30%;
}

.container1 .logo img{
    width: 100%;
    max-width: 100px;
    border-radius: 100%;
}
.container1 .logo {
    display: flex;
}

.container1 h2 {
    font-family: 'Amaranth', sans-serif;
    color: #cfd2cd;
    font-size: 80px;
    text-align: center;
    margin-top: 30px;
}

.container1 p {
    font-family: 'Roboto', sans-serif;
    color: #7b7f88;
    font-size: 18px;
    text-align: center;
}

.container1 .nDigital {
    margin-top: -50px;
    margin-bottom: 70px;
}
.container1 .nova5t {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 30px;
}

/* .container1 .purchase p{
    border: 1px solid #788585;
    border-radius: 30px;
    cursor: pointer;
    padding: 10px;
}
.container1 .purchase p:hover {
    background: #2e86ab;
    color: #000;
    transition: all .3 ease-in-out;
} */
.purchase {
    text-align: center;
}
.purchase__button {
    background: #25282f;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgba(29,32,39,0.6);
    box-shadow: inset 5px 5px 5px 0px rgba(29,32,39,1), inset -1px -1px 5px 0px rgba(111,113,120,1);;
    color: rgb(137, 142, 153);

}
.container2 {
    width: 60%;
    position: relative;
}
/* Porqué hay dos definiciones de container2? */
.container2 video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    border-radius: 10px;
}
/* También puedes colapsar esto de abajo */
/* -------------------------------------------- */
.container2 .iconos {
    width: 10%;
}
.container2 .iconos {
    display: flex;
    flex-direction: column;
    /*margin-left: -20px;*/
}
/* -------------------------------------------- */
.container2 .iconos a {
    font-size: 30px;
    color: #fff;
    margin-left: 5px;
    margin-bottom: 10px;
}

.iconos i {
    color: white;
}
.container2 .iconos a:hover {
    color: #2e86ab;
}
 /* Si son iguales puedes colapsarlo en una sola clase */
 /* ------------------------------------------------------ */
 /* .textos .featured{
     font-family: 'Roboto', sans-serif;
     color: #fff;
     font-size: 16px;
     padding: 10px;
     background: #ca054d;
     text-align: center;
    }
    
    .textos .txt {
        font-family: 'Roboto', sans-serif;
        color: #fff;
        font-size: 16px;
        padding: 10px;
        text-align: start;   
        line-height: 3px;
    } */
/* ------------------------------------------------------ */
.iconos {
    z-index: 2;
    position: absolute;
    bottom: 10%;
    right: 10px;
}
.textos {
    z-index: 2;
    position: absolute;
    bottom: 5%;
    left: 5%;
}
.textos .featured, .textos .txt{
        font-family: 'Roboto', sans-serif;
        color: #fff;
        font-size: 16px;
        /* padding: 10px; */
}
.textos .featured {
    text-align: center;
    display: inline-block;
}
.textos .featured span {
    color: inherit;
    background: #ca054d;
    padding:5px 15px;
    border-radius: 4px;
    font-size: 12px;
}
.textos .txt {
    text-align: start;   
}
.bold {
    font-weight: bold;
}

.m-0 {
    margin: 0px;
}


@media screen and (max-width:700px) {
    .container1 .logo img{
        margin: 0 auto;
    }
    .container1 {
        width: 100%;
    }
    .container2 {
        width: 100%;
    }
}

@media screen and (max-width:460px){
    .containerPrincipal {
        padding: 5px 5px;
    }
    .container2 video {
        width: 100%;
    }
    .container2 .iconos {
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }
    .container2 .iconos a {
        font-size: 18px;
    }
    .textos .txt {
        line-height: 15px;
    }
}